# Google Cloud OAuth client of type "Desktop app" (see README: Setup)
YOUTUBE_OAUTH_CLIENT_ID=1234567890-abc.apps.googleusercontent.com
YOUTUBE_OAUTH_CLIENT_SECRET=GOCSPX-xxxxxxxxxxxxxxxx

# Optional
# YOUTUBE_ANALYTICS_DATA_DIR=~/Library/Application Support/gomcpgo/youtube_analytics
# YOUTUBE_ANALYTICS_TIMEOUT=60s
# YOUTUBE_ANALYTICS_DEBUG=1
